<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %> Web App</p>
    <p>Please login to register for a room</p>
    <form>
      <input placeholder="Enter Student's ID">
      <br>
      <input placeholder="Enter Student's Name">
      <br>
      <input placeholder="Enter Student's Pin">
      <br>
      <button>SUBMIT</button>
    </form>
  </body>
</html>
