<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Please register for a room</p>
    <!--Allow data to be saved-->
    <form id="register" action="/register" method="POST">
        Student Name: <input placeholder="Enter Student Name" type="text" name="name" value=""><br>
        Student Level: <input placeholder="Enter Student Level" type="text" name="level" value=""><br>
        Gender: <input placeholder="Enter Gender" type="text" name="gender" value=""><br>
        <p>Select your room from the dropdown below</p>
        <select name="Room">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form> 
  </body>
</html>