<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Database of the current state of all the rooms</p>
    <!--Display all the rooms and the students in them-->
    
  </body>
</html>